{% extends 'base.html.twig' %}

{% block body %}

    <div align="center" class="alert alert-success" role="alert">
        <h3><strong>¡Bien hecho!</strong></h3> <br/>
        Se ha registrado el usuario <strong>{{ usuario }}</strong> con &eacute;xito.<br/><br/> 
        <a class="alert-link" href="{{ url('home') }}">
            Volver
        </a>
    </div>        
    
{% endblock %}