{% extends 'base.html.twig' %}

{% block body %}

    <h2>¡Bien hecho!</h2>
    <br/>
    
    
    Se ha registrado el usuario con &eacute;xito.<br/>    
        
    <a href="{{ url('home') }}">
        Volver
    </a>
    
{% endblock %}