{%extends 'base.html.twig'%}

{%block body %}
    
    <h2>{{ tipo_formulario }}</h2>
    
    {# Poner formulario de registro o de inicio de sesion #}
    
    
    
    <a href="{{ url('home') }}">
        Volver
    </a>
    
{% endblock %}