{% extends 'base.html.twig' %}

{% block body %}

    <div >
        <h2>Inicio</h2>
        <br/>

        <a href="{{ url('login') }}">
            Ingresar en la aplicaci&oacute;n
        </a>


        <br/>
        <br/>
        
        <a href="{{ url('registro') }}">
            Registro en la aplicaci&oacute;n
        </a>
    
    </div>

{% endblock %}